*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse #
.settings
.project
.classpath
.studio
target

# Vagrant
.vagrant

# Apple # 
.DS_Store

# Intellij #
.idea
*.iml
*.log

# Ansible
*.retry

# logback
logback.out.xml

# zips
*.tar.gz

# Vagrantboxes
*.box
step0-packer-windows-vagrantbox/Vagrantfile
*.ISO